* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    /* Use min-height to avoid content overflow */
    background-color: #f4f4f4;
}

#grad {
    background-image: linear-gradient(to right, #00b4db, #0083b0);
    color: #ffffff;
    text-align: center;
    padding: 1em;
    margin-bottom: 20px;
    border-radius: 8px;
    max-width: 100%;
}

h1 {
    font-size: 2em;
    font-weight: bold;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.container {
    display: flex;
    flex-direction: row;
    width: 700px;
    max-width: 1200px;
    margin-left: -350px;
    margin-top: 200px;
    /* Center the container */
}

.weather-input {
    width: 25%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-right: 20px;
    /* Adjust margin to give space between input and data */
    margin-top: 135px;
}

.weather-input input,
.weather-input button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.weather-input button {
    background-color: #0083b0;
    color: #fff;
    border: none;
    cursor: pointer;
}

.weather-input button:hover {
    background-color: #005f7f;
}

.weather-data {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 200px;
    margin-left: 10px;
    /* Align with the weather input */
}

.current_weather {
    margin-bottom: 20px;
    width: 80%;
}

.forecast h2 {
    margin-bottom: 20px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    /* Allow wrapping if necessary */
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
}

.card {
    flex: 1;
    min-width: 150px;
    /* Set a minimum width to maintain card size */
    max-width: calc(20% - 10px);
    /* Ensure cards take up equal space */
    padding: 20px;
    background-color: #0083b0;
    color: #fff;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.2s, background-color 0.2s;
}

.card:hover {
    background-color: #005f7f;
    transform: scale(1.05);
}

#search-history {
    margin-top: 20px;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 8px;
}

#search-history ul {
    list-style-type: none;
}

#search-history li {
    padding: 5px 0;
}
    